body {
    margin: 20px;
    font-family: 'Vazirmatn', 'Segoe UI','Roboto', 'Open Sans', sans-serif, Tahoma, Geneva, Verdana;
}

label {
    display: block;
    width: 11em;
    word-wrap: break-word;
}

img.active {
    border: 2px solid white;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

    .input-group label {
        margin-right: 10px;
    }


textarea {
    width: 100%;
    word-wrap: break-word;
    overflow-y: scroll;
    resize: vertical;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA; /* Blue */
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

    button:hover {
        background-color: #007B9A; /* Darker blue */
    }

section {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.1);
}

h2 {
    margin-bottom: 20px;
}
