<!DOCTYPE html>
<html ng-app="cryptoApp">
<head>
    <title>{{content.title}}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans&display=swap" rel="stylesheet">
    <script src="assets/js/node_modules/angular/angular.min.js"></script>
    <script src="assets/js/bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">

</head>
<body style="background-color: #396284; color: white; direction: {{direction}};" ng-controller="CryptoController">
    <div id="app">
        <img src="assets/images/uk_flag_48.png" class="lang" alt="UK Flag" ng-click="setLanguage('en')" style="margin: 1em;" ng-class="{active: language === 'en'}">
        <img src="assets/images/iran_flag_48.png" class="lang" alt="Iran Flag" ng-click="setLanguage('fa')" style="margin: 1em;" ng-class="{active: language === 'fa'}">
        <h1>{{content.h1}}</h1>

        <!-- Section 1: SHA256 -->
        <section>
            <h2>{{content.section1.h2}}</h2>
            <p>{{content.section1.p}}</p>
            <div class="input-group">
                <label for="sha-input">{{content.section1.label1}}</label>
                <textarea id="sha-input" ng-model="shaInput"></textarea>
            </div>
            <button id="sha-button" ng-click="computeSHA256()">{{content.section1.button}}</button>
            <div class="input-group">
                <label for="sha-output">{{content.section1.label2}}</label>
                <textarea id="sha-output" ng-model="shaOutput" readonly></textarea>
            </div>
        </section>
        <br />
        <!-- Section 2: ECDSA Key Pair -->
        <section>
            <h2>{{content.section2.h2}}</h2>
            <p>{{content.section2.p}}</p>
            <button id="ecdsa-button" ng-click="generateKeys()">{{content.section2.button}}</button>
            <div class="input-group">
                <label for="ecdsa-private">{{content.section2.label1}}</label>
                <textarea id="ecdsa-private" ng-model="ecdsaPrivate" readonly></textarea>
            </div>
            <div class="input-group">
                <label for="ecdsa-public">{{content.section2.label2}}</label>
                <textarea id="ecdsa-public" ng-model="ecdsaPublic" readonly></textarea>
            </div>
            <div><span>{{content.section2.bitcoinAddress}} </span><span style="color:red">{{bitcoinAddress}}</span></div>

        </section>

        <br />
        <!-- Section 3: ECDSA Digital Signature -->
        <!-- Section 3: ECDSA Digital Signature Verification -->
        <section>
            <h2>{{content.section3.h2}}</h2>
            <p>{{content.section3.p}}</p>
            <div class="input-group">
                <label for="ecdsa-verify-public">{{content.section3.label1}}</label>
                <textarea id="ecdsa-verify-public" ng-model="ecdsaVerifyPublic"></textarea>
            </div>


            <section>
                <h3>{{content.section3.subsection.h3}}</h3>
                <p>{{content.section3.subsection.p}}</p>
                <div class="input-group">
                    <label for="ecdsa-verify-message">{{content.section3.subsection.label1}}</label>
                    <textarea id="ecdsa-verify-message" ng-model="ecdsaVerifyMessage"></textarea>
                </div>

                <div class="input-group">
                    <label for="ecdsa-verify-private">{{content.section3.subsection.label2}}</label>
                    <textarea id="ecdsa-verify-private" ng-model="ecdsaVerifyPrivate"></textarea>
                </div>
                <p>{{content.section3.subsection.p2}}</p>
                <div class="input-group">
                    <label for="ecdsa-verify-sign">{{content.section3.subsection.label3}}</label>
                    <textarea id="ecdsa-verify-sign" ng-model="ecdsaVerifySignature" readonly></textarea>
                </div>

            </section>


            <h3>{{content.section3.h3}}</h3>
            <p>{{content.section3.p2}}</p>

            <button id="ecdsa-verify-button" ng-click="verifySignature()">{{content.section3.button}}</button>
            <br />
            <div class="input-group">
                <label for="ecdsa-verify-result">{{content.section3.label4}}</label>
                <div id="ecdsa-verify-result" readonly style="width:100%;text-align:center;height:3em;background-color: {{ecdsaVerifyResultColor}}; color: white;">
                    <span style="font-weight:bold;font-size:2em;">{{ecdsaVerifyResult}}</span>
                </div>
            </div>

        </section>
        <p>
            {{content.p}}
        </p>

    </div>
</body>
</html>
